<html>
    <head>
        <title>Hello World!</title>
    </head>
    <body>
    {{ index_content }}<br/>
    Host: {{ ansible_host }}<br/>
    Region: {{ azure_region }}<br/>
    RG: {{ azure_rg }}<br/>
    </body>
</html>